
.headerForm {
  display: flex !important;
  align-items: center;
  flex-direction: column;
}

.postEventFormRow {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-button-section-container {
  display: flex !important;
  align-items: center;
  margin-top: 15px;
  background-color: red;
}
